* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    --color-background-message: #E4EDF1;
    --color-white: #FFF;
    --color-h1:  #34355B;
    --color-message: #000;
    --color-button: #FF9500;
    --color-button-click: #6363ce;
    --font-h1: "Montserrat";
    --font-p: "DM Sans";
    --font-messge: "Dancing Script";
}

body {
    background: var(--color-background);

    display: inline-flex;
    padding: 25rem 20rem 20rem 75rem;
    align-items: flex-start;

    font-size: 1.6rem;

    height: 100vh;
}

.hide {
    display: none;
}

main {
    border-radius: 1rem;
    background: var(--color-white);
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;

    display: flex;
    padding: 4.8rem 6.4rem 6.4rem;

    text-align: center;
    justify-content: center;
    align-items: center; 
}

/* TELA 1 */
h1 {    
    font-size: 2.4rem;
    width: 26rem;
    margin: 0 auto 1.6rem auto;
}

h1, p {
    color: var(--color-h1);
    text-align: center;
    font-family: var(--font-h1), sans-serif;
}

.screen1 p {
    font-family: var(--font-p), sans-serif;
    font-size: 2rem;

    margin-bottom: 2rem;
}

#btnSort {
    display: flex;

    align-items: center;
    flex-shrink: 0;

    background:var(--color-white);
    border: none;
    outline: none; 

    cursor: pointer;
    border-radius: 30%;
}

#fortuneCookie {
    width: 30rem;
    height: 20rem;
    background-image: url(./assets/Cookie.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem 3rem 0rem 0rem;
}
  
#fortuneCookie:hover {
    cursor: pointer;
    animation: shake 0.5s ease infinite;
}

/* TELA 2*/
.msgLuck{
    background: var(--color-background-message);
    
    box-shadow: .2rem .2rem .2rem 0rem rgba(223, 222, 222, 0.5);

    width: 27rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.screen2 p{
    color:var(--color-message);
    text-align: center;
    font-family: var(--font-messge), sans-serif;
    font-size: 2.2rem;
}

#crackedCookie {
    width: 30rem;
    height: 20rem;
    background-image: url(./assets/cookieOpened.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#btnReset {
    display: flex;
    padding: 1.6rem;
    align-items: flex-start;
    gap: 1rem;

    border-radius: .4rem;
    background: var(--color-button);

    color: var(--color-white);
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;

    text-align: center;
    font-family: var(--font-p), sans-serif;
    font-size: 1.5rem;

    border: none;
    outline: none; 
}

#btnReset:hover {
    background-color: var(--color-button-click);
}

.screen2 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.screen2 button {
    border-radius: .4rem;
}

/* ANIMAÇÕES */

#fortuneCookie:hover {
    animation: rotate 0.5s ease infinite;
}

.msgLuck{
    animation: moveUp 2s ease forwards;
}

body{
    animation: gradient 3s ease infinite;
    background-size: 200% 200%;
}


@keyframes rotate {
0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes moveUp {
    from {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
